<!DOCTYPE html>
<html>
<head>
    <title>Mental Health Assessment</title>
</head>
<body>
    <h2>Mental Health Survey</h2>
    <form method="post" action="/predict">
        Gender: <select name="gender"><option value="0">Male</option><option value="1">Female</option></select><br><br>
        Age: <input type="number" name="age"><br><br>
        Academic Pressure (1-10): <input type="number" name="academic_pressure"><br><br>
        Study Satisfaction (1-10): <input type="number" name="study_satisfaction"><br><br>
        Sleep Duration (hours): <input type="number" step="0.1" name="sleep_duration"><br><br>
        Dietary Habits (1-10): <input type="number" name="dietary_habits"><br><br>
        Suicidal Thoughts (0=No,1=Yes): <input type="number" name="suicidal_thoughts"><br><br>
        Work/Study Hours: <input type="number" name="work_study_hours"><br><br>
        Financial Stress (1-10): <input type="number" name="financial_stress"><br><br>
        Family History of Mental Illness (0=No,1=Yes): <input type="number" name="family_history"><br><br>
        Short Statement: <textarea name="statement"></textarea><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>
